

<form action="/add" method="POST">
    <div class="input-field ">
        <input placeholder="Placeholder" name="title" id="title" type="text" class="validate" required>
        <label for="title">Cours Name</label>
        <span class="helper-text" data-error="add name" ></span>
         
    </div>

    <div class="input-field ">
        <input placeholder="Placeholder" name="price" id="price" type="number" class="validate" required>
        <label for="price">Cours price</label>
        <span class="helper-text" data-error="add price" ></span>
         
    </div>
   
    <div class="input-field ">
        <input placeholder="Placeholder" name="img" id="img" type="text" class="validate" required>
        <label for="img">Image</label>
        <span class="helper-text" data-error="add image" ></span>
         
    </div>

    <button type="submit" class="btn btn-primary">Add course</button>
</form>